{% extends 'base.html' %}
{% block body %}

<form method="POST" enctype="multipart/form-data">

  {% csrf_token %}
  <label>Name</label><br>
  <input type="text" name="name" placeholder="Enter Movie Name"><br>
  <label>Description</label><br>
  <input type="text" name="descr" placeholder="Enter the description"><br>
  <label>Released on</label><br>
  <input type="text" name="year" placeholder="Release date"><br>
  <input type="file" name="img" ><br>
  <input type="submit">

</form>

{% endblock %}

